.bpen-drawer{
  position:fixed;
  top: 0px;
  height: 100%;
  width: 225px;
  background-color: #CD3300;
  z-index:1000;
  transition: 0.5s ease;
}

.bpen-drawer-left{
  left:-225px;
  border-right: 2px solid #CD3300;
}

.bpen-drawer-right{
  right:-225px;
  border-left: 2px solid #CD3300;
}

.bpen-drawer-left.expanded{
  left: 0px;
}

.bpen-drawer-right.expanded{
  right:0px;
}

.bpen-toggle-pad {
  position:absolute;
  top: 0px;
  width: 50px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  cursor:pointer;
   background: url(../img/Hamburger.svg) no-repeat center center;
   background-size: 40px 40px;
  -webkit-transition: 3s ease;
  -moz-transition: 3s ease;
  -o-transition: 3s ease;
  -ms-transition: 3s ease;
  transition: 0.5s ease;
}

.bpen-toggle-pad-left{
  right: -30px;
  text-align: center;
}

.bpen-toggle-pad-right{
  left : -90px;
  text-align: center;
}

.bpen-toggle-pad-left.expanded{
  right:0px;

}

.bpen-toggle-pad-right.expanded{
  left:0px;
}

.bpen-drawer-header{
  position:relative;
  height: 40px;
  width:100%;
  top:0px;
  left:0px;
  background-color: #CD3300;
}


.bpen-drawer-items{
    list-style-type:  none;
    padding-left: 0px;
    width:100%;
    margin-top:0px;
}

.bpen-drawer-items li{
  padding: 7px 0px 7px 0px;
  width:100%;
  margin: -1px 0px 0px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #CD3300;
  cursor:pointer;
  font-size:1.5em;
}

.bpen-drawer-items li a{
  display:block;
  text-decoration:none;
  font-weight: bold;
  color : #fff;
  padding-left:10px;
  width:100%;
}